Website/Nop/Service References/NopCustomersService/CustomersService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Customers/Remote/CustomersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Customers/Remote/CustomersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Customers/Remote/CustomersService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" minOccurs="0" name="customerModel" nillable="true" type="q2:CustomerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" minOccurs="0" name="CreateCustomerResult" nillable="true" type="q3:CustomerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" minOccurs="0" name="GetCustomerResult" nillable="true" type="q5:CustomerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" minOccurs="0" name="addressModels" nillable="true" type="q7:ArrayOfAddressModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" minOccurs="0" name="AddAddressesResult" nillable="true" type="q8:ArrayOfAddressModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="addressIds" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" minOccurs="0" name="RemoveAddressesResult" nillable="true" type="q11:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" minOccurs="0" name="addressModels" nillable="true" type="q13:ArrayOfAddressModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" minOccurs="0" name="UpdateAddressesResult" nillable="true" type="q14:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" minOccurs="0" name="GetAllAddressesResult" nillable="true" type="q16:ArrayOfAddressModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>