Website/Nop/Service References/NopWishlistsService/WishlistsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Wishlists/Remote/WishlistsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Wishlists/Remote/WishlistsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetWishlists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWishlistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" minOccurs="0" name="GetWishlistsResult" nillable="true" type="q1:ArrayOfShoppingCartModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWishlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" minOccurs="0" name="GetWishlistResult" nillable="true" type="q3:ShoppingCartModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWishlistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWishlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" minOccurs="0" name="CreateWishlistResult" nillable="true" type="q6:ShoppingCartModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q7:guid" />
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" minOccurs="0" name="AddProductResult" nillable="true" type="q8:ShoppingCartModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q9:guid" />
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" minOccurs="0" name="RemoveProductResult" nillable="true" type="q10:ShoppingCartModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q11:guid" />
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newQuantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" minOccurs="0" name="UpdateQuantityResult" nillable="true" type="q12:ShoppingCartModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>