Website/Nop/Service References/NopPaymentService/PaymentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Obec.Payments/Remote/PaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Payments.Models" />
  <xs:element name="GetPaymentMethods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Payments.Models" minOccurs="0" name="GetPaymentMethodsResult" nillable="true" type="q1:ResponseModelOfArrayOfPaymentMethodModelQBnDdvBq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>