Website/Nop/Service References/NopPricesService/PricesService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Prices.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Prices.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductPriceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPriceModel" nillable="true" type="tns:ProductPriceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPriceModel" nillable="true" type="tns:ArrayOfProductPriceModel" />
  <xs:complexType name="ProductPriceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sku" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPriceModel" nillable="true" type="tns:ProductPriceModel" />
</xs:schema>