Website/Nop/Service References/NopOrdersService/OrdersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Obec.Orders/Remote/OrdersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Obec.Orders/Remote/OrdersService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Obec.Orders/Remote/OrdersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Orders.Models" />
  <xs:element name="SubmitOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customertGuid" type="q1:guid" />
        <xs:element minOccurs="0" name="shippingMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentMethod" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="properties" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Orders.Models" minOccurs="0" name="SubmitOrderResult" nillable="true" type="q3:OrderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Orders.Models" minOccurs="0" name="GetOrderResult" nillable="true" type="q4:OrderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerGuid" type="q5:guid" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Orders.Models" minOccurs="0" name="GetOrdersResult" nillable="true" type="q6:ArrayOfOrderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Orders.Models" minOccurs="0" name="CancelOrderResult" nillable="true" type="q7:OrderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>