Website/Nop/Service References/NopCartsService/CartsService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Carts/Remote/CartsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Carts/Remote/CartsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfShoppingCartModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartModel" nillable="true" type="tns:ShoppingCartModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartModel" nillable="true" type="tns:ArrayOfShoppingCartModel" />
  <xs:complexType name="ShoppingCartModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddressModel" />
      <xs:element minOccurs="0" name="BillingAddress" nillable="true" type="tns:AddressModel" />
      <xs:element minOccurs="0" name="BillingAddressId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaymentInfo" nillable="true" type="tns:PaymentInfoModel" />
      <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shipments" nillable="true" type="tns:ArrayOfShipmentModel" />
      <xs:element minOccurs="0" name="ShippingAddress" nillable="true" type="tns:AddressModel" />
      <xs:element minOccurs="0" name="ShippingAddressId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShippingInfo" nillable="true" type="tns:ShippingMethodModel" />
      <xs:element minOccurs="0" name="ShippingMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingItems" nillable="true" type="tns:ArrayOfShoppingCartItemModel" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreId" type="xs:int" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalItems" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartModel" nillable="true" type="tns:ShoppingCartModel" />
  <xs:complexType name="ArrayOfAddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressModel" nillable="true" type="tns:AddressModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressModel" nillable="true" type="tns:ArrayOfAddressModel" />
  <xs:complexType name="AddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryThreeLetterIsoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryTwoLetterIsoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOnUtc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateProvinceAbbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipPostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressModel" nillable="true" type="tns:AddressModel" />
  <xs:complexType name="PaymentInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentInfoModel" nillable="true" type="tns:PaymentInfoModel" />
  <xs:complexType name="ArrayOfShipmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipmentModel" nillable="true" type="tns:ShipmentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShipmentModel" nillable="true" type="tns:ArrayOfShipmentModel" />
  <xs:complexType name="ShipmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ItemsIDs" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="ShippingAddressId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShippingMethod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipmentModel" nillable="true" type="tns:ShipmentModel" />
  <xs:complexType name="ShippingMethodModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingMethodModel" nillable="true" type="tns:ShippingMethodModel" />
  <xs:complexType name="ArrayOfShoppingCartItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartItemModel" nillable="true" type="tns:ShoppingCartItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartItemModel" nillable="true" type="tns:ArrayOfShoppingCartItemModel" />
  <xs:complexType name="ShoppingCartItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Sku" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartItemModel" nillable="true" type="tns:ShoppingCartItemModel" />
  <xs:complexType name="ArrayOfCustomerAddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerAddressModel" nillable="true" type="tns:CustomerAddressModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerAddressModel" nillable="true" type="tns:ArrayOfCustomerAddressModel" />
  <xs:complexType name="CustomerAddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressType" type="tns:AddressTypeModel" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerAddressModel" nillable="true" type="tns:CustomerAddressModel" />
  <xs:simpleType name="AddressTypeModel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Billing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Shipping" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressTypeModel" nillable="true" type="tns:AddressTypeModel" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="PaymentInfoModelResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaymentInfoModel" Namespace="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Common.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" nillable="true" type="tns:PaymentInfoModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentInfoModelResponse" nillable="true" type="tns:PaymentInfoModelResponse" />
</xs:schema>