Website/Nop/Service References/NopInventoryService/InventoryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Inventory/Remote/InventoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Inventory/Remote/InventoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Inventory/Remote/InventoryService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Inventory/Remote/InventoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Inventory.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventoryService_GetStocksInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStocksInformation" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetStocksInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStocksInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetStockInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockInformation" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetStockInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetPreOrderableInformationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreOrderableInformationList" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetPreOrderableInformationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreOrderableInformationListResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetPreOrderableInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreOrderableInformation" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetPreOrderableInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreOrderableInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetBackOrderableInformationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackOrderableInformationList" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetBackOrderableInformationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackOrderableInformationListResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetBackOrderableInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackOrderableInformation" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetBackOrderableInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackOrderableInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetBackInStocksInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackInStocksInformation" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetBackInStocksInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackInStocksInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetBackInStockInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackInStockInformation" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetBackInStockInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackInStockInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_StocksStatusForIndexing_InputMessage">
    <wsdl:part name="parameters" element="tns:StocksStatusForIndexing" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_StocksStatusForIndexing_OutputMessage">
    <wsdl:part name="parameters" element="tns:StocksStatusForIndexingResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_StockStatusForIndexing_InputMessage">
    <wsdl:part name="parameters" element="tns:StockStatusForIndexing" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_StockStatusForIndexing_OutputMessage">
    <wsdl:part name="parameters" element="tns:StockStatusForIndexingResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventoryService">
    <wsdl:operation name="GetStocksInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetStocksInformation" message="tns:IInventoryService_GetStocksInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetStocksInformationResponse" message="tns:IInventoryService_GetStocksInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetStockInformation" message="tns:IInventoryService_GetStockInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetStockInformationResponse" message="tns:IInventoryService_GetStockInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreOrderableInformationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetPreOrderableInformationList" message="tns:IInventoryService_GetPreOrderableInformationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetPreOrderableInformationListResponse" message="tns:IInventoryService_GetPreOrderableInformationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreOrderableInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetPreOrderableInformation" message="tns:IInventoryService_GetPreOrderableInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetPreOrderableInformationResponse" message="tns:IInventoryService_GetPreOrderableInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBackOrderableInformationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetBackOrderableInformationList" message="tns:IInventoryService_GetBackOrderableInformationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetBackOrderableInformationListResponse" message="tns:IInventoryService_GetBackOrderableInformationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBackOrderableInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetBackOrderableInformation" message="tns:IInventoryService_GetBackOrderableInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetBackOrderableInformationResponse" message="tns:IInventoryService_GetBackOrderableInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBackInStocksInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetBackInStocksInformation" message="tns:IInventoryService_GetBackInStocksInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetBackInStocksInformationResponse" message="tns:IInventoryService_GetBackInStocksInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBackInStockInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetBackInStockInformation" message="tns:IInventoryService_GetBackInStockInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetBackInStockInformationResponse" message="tns:IInventoryService_GetBackInStockInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StocksStatusForIndexing">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/StocksStatusForIndexing" message="tns:IInventoryService_StocksStatusForIndexing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/StocksStatusForIndexingResponse" message="tns:IInventoryService_StocksStatusForIndexing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StockStatusForIndexing">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/StockStatusForIndexing" message="tns:IInventoryService_StockStatusForIndexing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/StockStatusForIndexingResponse" message="tns:IInventoryService_StockStatusForIndexing_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventoryService" type="tns:IInventoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStocksInformation">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetStocksInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockInformation">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetStockInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreOrderableInformationList">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetPreOrderableInformationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreOrderableInformation">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetPreOrderableInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackOrderableInformationList">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetBackOrderableInformationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackOrderableInformation">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetBackOrderableInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackInStocksInformation">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetBackInStocksInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackInStockInformation">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetBackInStockInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StocksStatusForIndexing">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/StocksStatusForIndexing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockStatusForIndexing">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/StockStatusForIndexing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="BasicHttpBinding_IInventoryService" binding="tns:BasicHttpBinding_IInventoryService">
      <soap:address location="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Inventory/Remote/InventoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>