Website/Nop/Service References/NopInventoryService/InventoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Inventory/Remote/InventoryService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Inventory/Remote/InventoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Inventory/Remote/InventoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" />
  <xs:element name="GetStocksInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="externalproductIds" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStocksInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="GetStocksInformationResult" nillable="true" type="q3:ArrayOfStockInformationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="GetStockInformationResult" nillable="true" type="q5:StockInformationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreOrderableInformationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="externalproductIds" nillable="true" type="q6:ArrayOfstring" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreOrderableInformationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="GetPreOrderableInformationListResult" nillable="true" type="q8:ArrayOfOrderableInformationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreOrderableInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreOrderableInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="GetPreOrderableInformationResult" nillable="true" type="q10:OrderableInformationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackOrderableInformationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="externalproductIds" nillable="true" type="q11:ArrayOfstring" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackOrderableInformationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="GetBackOrderableInformationListResult" nillable="true" type="q13:ArrayOfOrderableInformationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackOrderableInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackOrderableInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="GetBackOrderableInformationResult" nillable="true" type="q15:OrderableInformationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackInStocksInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="externalproductIds" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackInStocksInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="GetBackInStocksInformationResult" nillable="true" type="q17:ArrayOfStockInformationUpdateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackInStockInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackInStockInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="GetBackInStockInformationResult" nillable="true" type="q18:StockInformationUpdateModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StocksStatusForIndexing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="externalproductIds" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StocksStatusForIndexingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="StocksStatusForIndexingResult" nillable="true" type="q20:ArrayOfIndexStockInformationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StockStatusForIndexing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StockStatusForIndexingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Inventory.Models" minOccurs="0" name="StockStatusForIndexingResult" nillable="true" type="q21:IndexStockInformationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>