Website/Nop/Service References/NopInventoryService/InventoryService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Inventory.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Inventory.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Inventory/Remote/InventoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Inventory/Remote/InventoryService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfStockInformationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockInformationModel" nillable="true" type="tns:StockInformationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockInformationModel" nillable="true" type="tns:ArrayOfStockInformationModel" />
  <xs:complexType name="StockInformationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailabilityDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Count" type="xs:double" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:StockStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInformationModel" nillable="true" type="tns:StockInformationModel" />
  <xs:simpleType name="StockStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InStock">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OutOfStock">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PreOrderable">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BackOrderable">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StockStatus" nillable="true" type="tns:StockStatus" />
  <xs:complexType name="ArrayOfOrderableInformationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderableInformationModel" nillable="true" type="tns:OrderableInformationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderableInformationModel" nillable="true" type="tns:ArrayOfOrderableInformationModel" />
  <xs:complexType name="OrderableInformationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartQuantityLimit" type="xs:double" />
      <xs:element minOccurs="0" name="InStockDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderableEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderableStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemainingQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="ShippingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="tns:StockStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderableInformationModel" nillable="true" type="tns:OrderableInformationModel" />
  <xs:complexType name="ArrayOfStockInformationUpdateModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockInformationUpdateModel" nillable="true" type="tns:StockInformationUpdateModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockInformationUpdateModel" nillable="true" type="tns:ArrayOfStockInformationUpdateModel" />
  <xs:complexType name="StockInformationUpdateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockInformationUpdateLocation" nillable="true" type="tns:ArrayOfStockInformationUpdateLocationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInformationUpdateModel" nillable="true" type="tns:StockInformationUpdateModel" />
  <xs:complexType name="ArrayOfStockInformationUpdateLocationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockInformationUpdateLocationModel" nillable="true" type="tns:StockInformationUpdateLocationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockInformationUpdateLocationModel" nillable="true" type="tns:ArrayOfStockInformationUpdateLocationModel" />
  <xs:complexType name="StockInformationUpdateLocationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailabilityDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInformationUpdateLocationModel" nillable="true" type="tns:StockInformationUpdateLocationModel" />
  <xs:complexType name="ArrayOfIndexStockInformationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexStockInformationModel" nillable="true" type="tns:IndexStockInformationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexStockInformationModel" nillable="true" type="tns:ArrayOfIndexStockInformationModel" />
  <xs:complexType name="IndexStockInformationModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InStockLocations" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrderableLocations" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutOfStockLocations" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="PreOrderable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexStockInformationModel" nillable="true" type="tns:IndexStockInformationModel" />
</xs:schema>