Website/Nop/Service References/NopShippingService/ShippingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Shipping/Remote/ShippingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" />
  <xs:element name="GetShippingMethods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" minOccurs="0" name="shoppingCartModel" nillable="true" type="q1:ShoppingCartModel" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" minOccurs="0" name="addressModel" nillable="true" type="q2:AddressModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nop.Plugin.Sitecore.Commerce.Common.Models" minOccurs="0" name="GetShippingMethodsResult" nillable="true" type="q3:ArrayOfShippingMethodModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>