Website/Nop/Service References/NopProductsService/ProductsService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Products/Remote/ProductsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" />
  <xs:import schemaLocation="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Products/Remote/ProductsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetProductResult" nillable="true" type="q1:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllProductsIdsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetManufacturerResult" nillable="true" type="q3:ArrayOfManufacturerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManufacturers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManufacturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetAllManufacturersResult" nillable="true" type="q4:ArrayOfManufacturerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q5:ArrayOfCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q6:ArrayOfCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGlobalSpecifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGlobalSpecificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetAllGlobalSpecificationsResult" nillable="true" type="q7:ArrayOfSpecificationLookupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductGlobalSpecifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductGlobalSpecificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetProductGlobalSpecificationsResult" nillable="true" type="q8:ArrayOfProductGlobalSpecificationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedProductsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedProductsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRelatedProductsIdsResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossSellProductsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossSellProductsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCrossSellProductsIdsResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariantProductsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariantProductsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVariantProductsIdsResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDivisions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDivisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetAllDivisionsResult" nillable="true" type="q12:ArrayOfDivisionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedDivisions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedDivisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetRelatedDivisionsResult" nillable="true" type="q13:ProductDivisionsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductManufacturers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductManufacturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetProductManufacturersResult" nillable="true" type="q14:ProductManufacturersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetAllProductTypesResult" nillable="true" type="q15:ArrayOfProductTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetProductTypesResult" nillable="true" type="q16:ArrayOfProductTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductMainImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductMainImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetProductMainImageResult" nillable="true" type="q17:ProductResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductAlternateImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductAlternateImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetProductAlternateImagesResult" nillable="true" type="q18:ProductResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDownloads">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDownloadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetProductDownloadsResult" nillable="true" type="q19:ProductResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="GetAllResourcesResult" nillable="true" type="q20:ArrayOfResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Sitecore.Commerce.Nop.Products.Models" minOccurs="0" name="product" nillable="true" type="q21:ProductModel" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>